<?xml version="1.0" encoding="utf-8"?>
<xml>
	<pexconfig>
		<PhraseFile>
			<ForAllUsers>0</ForAllUsers>
			<Data>
				<phrases>
					<min_ver>14.0.166</min_ver>
					<pex_ver>
						<win>14000167</win>
					</pex_ver>
					<version>4.0.21</version>
					<lastsentence>
						<description>AutoComplete</description>
						<location>C:\அறி\PhraseExpress\autolearn.pxp</location>
						<guid>3FD569EE-B055-4E09-87C2-4D19172246FD</guid>
						<cacheloaded>False</cacheloaded>
						<level>1</level>
					</lastsentence>
					<lastused>
						<description>Last Used</description>
						<location>C:\அறி\PhraseExpress\lastused.pxp</location>
						<guid>A9CCC272-163D-4A65-AE8F-245C3CB5739E</guid>
						<cacheloaded>False</cacheloaded>
						<level>1</level>
					</lastused>
					<file>
						<description>Local phrase file</description>
						<location>C:\அறி\PhraseExpress\phrases.pxp</location>
						<guid>540DBB3E-A586-4F6C-A3FA-60E30BE863D1</guid>
						<cacheloaded>False</cacheloaded>
						<level>1</level>
					</file>
				</phrases>
			</Data>
			<NP/>
			<DoSyncFiles>-1</DoSyncFiles>
			<PhrasesTouched>1</PhrasesTouched>
			<ServerSwitched>0</ServerSwitched>
			<DBT/>
			<DBTS/>
			<BackupCount>99</BackupCount>
			<BackupPath/>
			<CacheSQLData>0</CacheSQLData>
			<DoSQLStats>1</DoSQLStats>
			<LastSaveTarget/>
			<LastSaveTemplate/>
			<SaveHistoryPaths/>
		</PhraseFile>
		<Other>
			<DateOfFirstUse10>45170,9919986921</DateOfFirstUse10>
			<DateOfFirstUseHash10>B14600061A7FF4278B36FA169DC7D9E5</DateOfFirstUseHash10>
			<PayOff>49,95</PayOff>
			<PaidOff>0</PaidOff>
			<Version>14.0.167</Version>
		</Other>
		<Translation>
			<DeeplAPIKey/>
		</Translation>
		<AutoLearn>
			<LastSentences>1</LastSentences>
			<LastWords>1</LastWords>
			<AutoCorrect>1</AutoCorrect>
			<BigSentence>1</BigSentence>
			<SmallSentence>1</SmallSentence>
			<NumberSentence>0</NumberSentence>
			<SpecSentence>0</SpecSentence>
			<CompareDate>45171,2210222917</CompareDate>
			<SingleContext>0</SingleContext>
		</AutoLearn>
		<General>
			<PopupDisplayMode>0</PopupDisplayMode>
			<PopupPositionMode>0</PopupPositionMode>
			<PopupFixedPositionX>0</PopupFixedPositionX>
			<PopupFixedPositionY>0</PopupFixedPositionY>
			<PopupMaxItems>20</PopupMaxItems>
			<TrayPopupMaxItems>18</TrayPopupMaxItems>
			<LastUsedHK>0</LastUsedHK>
			<LastSentenceHK>0</LastSentenceHK>
			<SimpleMode>1</SimpleMode>
			<AutoSkip>0</AutoSkip>
			<DoStats>0</DoStats>
			<BroadcastsEnabled>0</BroadcastsEnabled>
			<IgnoreCaps>0</IgnoreCaps>
			<DoSound0>0</DoSound0>
			<SoundFile0/>
			<DoSound1>0</DoSound1>
			<SoundFile1/>
			<DoSound2>0</DoSound2>
			<SoundFile2/>
			<DoSound3>0</DoSound3>
			<SoundFile3/>
			<DoSound4>0</DoSound4>
			<SoundFile4/>
			<NewPhraseShortcut>3139</NewPhraseShortcut>
			<LastUsedShortcut>0</LastUsedShortcut>
			<OpenSetShortcut>0</OpenSetShortcut>
			<EnDisAppShortcut>0</EnDisAppShortcut>
			<TrayPopupShortcut>2080</TrayPopupShortcut>
			<ClearClbCacheHotkey>0</ClearClbCacheHotkey>
			<QuickSearchShortcut>114</QuickSearchShortcut>
			<ShowEmptyLevels>1</ShowEmptyLevels>
			<CheckUpdates>1</CheckUpdates>
			<CheckBetaUpdates>0</CheckBetaUpdates>
			<NextUpdate>45163,3731396759</NextUpdate>
			<LastUpdate>45156,3731396759</LastUpdate>
			<SkipUpdateVer-1>0</SkipUpdateVer-1>
			<SkipUpdateVer0>0</SkipUpdateVer0>
			<SkipUpdateVer1>0</SkipUpdateVer1>
			<SkipUpdateVer2>0</SkipUpdateVer2>
			<SkipUpdateVer3>0</SkipUpdateVer3>
			<SkipUpdateVer4>0</SkipUpdateVer4>
			<ListenUDPPort>1036</ListenUDPPort>
			<ServerUDPPort>1037</ServerUDPPort>
			<DoProxy>2</DoProxy>
			<ProxyServer/>
			<ProxyPort>80</ProxyPort>
			<ProxyUsername/>
			<ProxyPassword/>
			<LicenseServer/>
			<SQLLicenseDatabase/>
			<SQLStatsDatabase/>
			<AllowEmptyVars>1</AllowEmptyVars>
			<FirstStart>0</FirstStart>
			<ExecKey>9</ExecKey>
			<PopupModifier>0</PopupModifier>
			<PopupShortcutType>2</PopupShortcutType>
			<PopupSearchInline>1</PopupSearchInline>
			<PopupSearchCase>0</PopupSearchCase>
			<PopupSearchRecurse>1</PopupSearchRecurse>
			<PopupSearchMenuText>1</PopupSearchMenuText>
			<PopupSearchExtended>0</PopupSearchExtended>
			<PopupSearchQJ>1</PopupSearchQJ>
		</General>
		<ClipCache>
			<PlainOnly>0</PlainOnly>
			<TrimSpaces>0</TrimSpaces>
			<AutoCollect>0</AutoCollect>
			<FilterDups>1</FilterDups>
			<AutoCollectCount>5</AutoCollectCount>
		</ClipCache>
		<LastText>
			<MinLength>10</MinLength>
		</LastText>
		<Dialogs>
			<ShowInsertDlg>1</ShowInsertDlg>
			<ShowDeleteDlg>1</ShowDeleteDlg>
			<ShowDatalossDlg>1</ShowDatalossDlg>
			<ShowMacroErrorDlg>1</ShowMacroErrorDlg>
			<ShowExpertDlg>1</ShowExpertDlg>
			<ShowHotkeyCheckDlg>1</ShowHotkeyCheckDlg>
			<ShowCharsNullDlg>1</ShowCharsNullDlg>
			<ShowExtendedConfirmation>1</ShowExtendedConfirmation>
			<ShowFunDlg>1</ShowFunDlg>
			<ShowAppPhrase>1</ShowAppPhrase>
			<ShowDetailsDlg>1</ShowDetailsDlg>
			<ShowBadAutotextDlg>1</ShowBadAutotextDlg>
			<ShowUpdateDialog>1</ShowUpdateDialog>
			<ShowOptsChangeDlg>1</ShowOptsChangeDlg>
			<ShowUSBDlg>0</ShowUSBDlg>
			<ShowNoneDelimDlg>1</ShowNoneDelimDlg>
			<ShowSearchInserts>1</ShowSearchInserts>
			<ShowAsianCheck>1</ShowAsianCheck>
			<ServerFoundCheck>1</ServerFoundCheck>
			<ShowMultiEditDlg>1</ShowMultiEditDlg>
			<FirstStart>0</FirstStart>
			<ShowAllAppDlg>1</ShowAllAppDlg>
			<ShowToolCloseDlg>1</ShowToolCloseDlg>
			<ShowExportPassDlg>1</ShowExportPassDlg>
			<ShowDropBoxFilesDlg>1</ShowDropBoxFilesDlg>
			<ShowOpenDlg>1</ShowOpenDlg>
			<ShowUpgExpireDlg>1</ShowUpgExpireDlg>
			<ShowLicExpireDlg>1</ShowLicExpireDlg>
			<ShowSavePosDlg>1</ShowSavePosDlg>
			<ShowIcompatDlg>1</ShowIcompatDlg>
			<ShowCancelDlg>1</ShowCancelDlg>
			<ShowGlobalCfgDlg>1</ShowGlobalCfgDlg>
			<ShowSQLDriverDlg>1</ShowSQLDriverDlg>
			<ShowAndroidMove>1</ShowAndroidMove>
			<ShowDnDWarn>1</ShowDnDWarn>
			<ShowUpdPrivacyWarn>1</ShowUpdPrivacyWarn>
			<ShowRegPrivacyWarn>1</ShowRegPrivacyWarn>
			<ShowDelimBalloon>1</ShowDelimBalloon>
			<ShowDDDlg>1</ShowDDDlg>
			<ShowPhraseWiz>1</ShowPhraseWiz>
			<ShowLastUsedBubble>1</ShowLastUsedBubble>
			<ShowElevatedBubble>1</ShowElevatedBubble>
			<NoWarnings>0</NoWarnings>
			<MinOnClose>1</MinOnClose>
			<CancelOnEscape>1</CancelOnEscape>
			<Language>0</Language>
			<FindDlgWidth>483</FindDlgWidth>
			<FindDlgHeight>277</FindDlgHeight>
			<InputDlgLeft>-2147483648</InputDlgLeft>
			<InputDlgTop>-2147483648</InputDlgTop>
			<FormularLeft>-2147483648</FormularLeft>
			<FormularTop>-2147483648</FormularTop>
			<RichFormularLeft>-2147483648</RichFormularLeft>
			<RichFormularTop>-2147483648</RichFormularTop>
			<RichFormularWidth>-2147483648</RichFormularWidth>
			<RichFormularHeight>-2147483648</RichFormularHeight>
			<InputOnTop>1</InputOnTop>
			<FormOnTop>1</FormOnTop>
			<FormShowPreview>0</FormShowPreview>
			<FormPreviewWidth>-1</FormPreviewWidth>
			<FormWidth>-1</FormWidth>
			<ShowAntivirusCheck>1</ShowAntivirusCheck>
			<ShowAutoEscape>1</ShowAutoEscape>
			<ShowFirstVarHint>1</ShowFirstVarHint>
			<ShowBubbles>1</ShowBubbles>
			<ShowGlobalAppDlg>1</ShowGlobalAppDlg>
			<LastCloudFiles/>
			<LastOpenDlgRes>0</LastOpenDlgRes>
			<CaretPositionMode>4</CaretPositionMode>
			<CaretPositionX>-99999999</CaretPositionX>
			<CaretPositionY>0</CaretPositionY>
			<PrintPreviewWidth>0</PrintPreviewWidth>
			<PrintPreviewHeight>0</PrintPreviewHeight>
			<SearchHistory/>
		</Dialogs>
		<Auto>
			<DoFirstCaps>0</DoFirstCaps>
			<FixDoubleCaps>0</FixDoubleCaps>
			<FixAllCaps2>0</FixAllCaps2>
		</Auto>
		<Expert>
			<AllowedApps/>
			<DeclinedApps/>
			<AppMethods>pidgin.exe|3:safari.exe|3:abiword.exe|3:applicationframehost.exe|3</AppMethods>
			<CharsBefore>#0#10#9#13 "'&lt;{([/\-_</CharsBefore>
			<CharsAfter>#9#10#13 "'&gt;}]).,?!/\:;-_ </CharsAfter>
			<GlobalPrefix/>
			<SentenceDelimiters>.;!?#9#13#10</SentenceDelimiters>
			<PopupHideTime>3600</PopupHideTime>
			<RndDelay>0</RndDelay>
			<HotkeyCheck>1</HotkeyCheck>
			<ClipboardBackup>1</ClipboardBackup>
			<ForceFocus>1</ForceFocus>
			<UseOldParser>0</UseOldParser>
			<SaveMeta>1</SaveMeta>
			<UseClbFrom>100</UseClbFrom>
			<FocusDelay>200</FocusDelay>
			<RestoreClbDelay>450</RestoreClbDelay>
			<PlainClbDelay2>50</PlainClbDelay2>
			<SimKeyDelay>90</SimKeyDelay>
			<GlobalTiming>750</GlobalTiming>
			<DoRouteEnter>0</DoRouteEnter>
			<WatchClipboard>0</WatchClipboard>
			<MinRefineLength>3</MinRefineLength>
			<KeyByKeyPasteMethod>0</KeyByKeyPasteMethod>
			<ClbPasteFormat>0</ClbPasteFormat>
			<UTFMail>0</UTFMail>
			<MailMode>1</MailMode>
			<DoACC>0</DoACC>
			<AutoCapsCount>2</AutoCapsCount>
			<DoAutoCaps>0</DoAutoCaps>
			<DocGenSeparator/>
		</Expert>
		<Popup>
			<HOffset>16</HOffset>
			<AutolearnColor>-16777212</AutolearnColor>
			<AutolearnTextColor>-16777209</AutolearnTextColor>
			<SelRectColor>14314496</SelRectColor>
			<SelBackColor>16045234</SelBackColor>
			<BackColor>-16777212</BackColor>
			<SeparatorColor>12632256</SeparatorColor>
			<BorderColor>8421504</BorderColor>
			<PopupBackgroundColor>-16777212</PopupBackgroundColor>
			<PopupHighlightColor>-16777187</PopupHighlightColor>
			<PopupAutotextBackgroundColor>-16777212</PopupAutotextBackgroundColor>
			<PopupAutotextHighlightColor>-16777187</PopupAutotextHighlightColor>
			<PopupHotkeyBackgroundColor>-16777212</PopupHotkeyBackgroundColor>
			<PopupHotkeyHighlightColor>-16777187</PopupHotkeyHighlightColor>
			<PopupHotBackgroundColor>-16777212</PopupHotBackgroundColor>
			<PopupHotHighlightColor>-16777187</PopupHotHighlightColor>
			<PopupTextColor>-16777209</PopupTextColor>
			<PopupTextColorSelected>-16777209</PopupTextColorSelected>
			<PopupAutoTextColor>-16777209</PopupAutoTextColor>
			<PopupAutoTextColorSelected>-16777209</PopupAutoTextColorSelected>
			<PopupHotkeyTextColor>-16777209</PopupHotkeyTextColor>
			<PopupHotkeyTextColorSelected>-16777209</PopupHotkeyTextColorSelected>
			<PopupHotTextColor>-16777209</PopupHotTextColor>
			<PopupHotTextColorSelected>-16777209</PopupHotTextColorSelected>
			<PopupDelay>200</PopupDelay>
			<HintDelay>200</HintDelay>
			<MaxPopupWidth>400</MaxPopupWidth>
			<PopupHintLength>1024</PopupHintLength>
			<PopupShowHint>1</PopupShowHint>
			<ShowInfo>0</ShowInfo>
			<FilterTray>1</FilterTray>
			<SortPopupMode>0</SortPopupMode>
			<SortPopupCol>0</SortPopupCol>
			<SortPopupDir>0</SortPopupDir>
			<AlPopupShowDelay>200</AlPopupShowDelay>
			<PopupFont/>
		</Popup>
		<Edit>
			<ShowFullMacros>0</ShowFullMacros>
			<DoWrap>1</DoWrap>
			<DoGutter>0</DoGutter>
			<DoSyn>1</DoSyn>
			<DoRulers>0</DoRulers>
			<DoShowSpecialChars>0</DoShowSpecialChars>
			<OleFitMode>2</OleFitMode>
			<LastFormat>0</LastFormat>
			<LastDDAct>-1</LastDDAct>
			<DoLastUsedFormat>0</DoLastUsedFormat>
			<ShowDetails>0</ShowDetails>
			<LastNewPhraseFocus>0</LastNewPhraseFocus>
			<ZoomValue>0</ZoomValue>
			<MacroColorMode>2</MacroColorMode>
		</Edit>
		<MainWindow>
			<LastDPI>96</LastDPI>
			<Left>143</Left>
			<Top>75</Top>
			<Width>994</Width>
			<Height>570</Height>
			<MainSplitter>35</MainSplitter>
			<TreeSplitter>40</TreeSplitter>
			<MainSplitter2>60</MainSplitter2>
			<MainSplitter3>15</MainSplitter3>
			<MainSplitterWidth>310</MainSplitterWidth>
			<TreeSplitterWidth>310</TreeSplitterWidth>
			<Maximized>0</Maximized>
		</MainWindow>
		<UI>
			<PhraseColVis0>1</PhraseColVis0>
			<PhraseColWidth0>128</PhraseColWidth0>
			<PhraseColPos0>0</PhraseColPos0>
			<PhraseColVis1>1</PhraseColVis1>
			<PhraseColWidth1>68</PhraseColWidth1>
			<PhraseColPos1>1</PhraseColPos1>
			<PhraseColVis2>1</PhraseColVis2>
			<PhraseColWidth2>100</PhraseColWidth2>
			<PhraseColPos2>2</PhraseColPos2>
			<PhraseColVis3>0</PhraseColVis3>
			<PhraseColWidth3>80</PhraseColWidth3>
			<PhraseColPos3>3</PhraseColPos3>
			<PhraseColVis4>0</PhraseColVis4>
			<PhraseColWidth4>80</PhraseColWidth4>
			<PhraseColPos4>4</PhraseColPos4>
			<PhraseColVis5>0</PhraseColVis5>
			<PhraseColWidth5>80</PhraseColWidth5>
			<PhraseColPos5>5</PhraseColPos5>
			<PhraseColVis6>0</PhraseColVis6>
			<PhraseColWidth6>80</PhraseColWidth6>
			<PhraseColPos6>6</PhraseColPos6>
			<PhraseColVis7>0</PhraseColVis7>
			<PhraseColWidth7>80</PhraseColWidth7>
			<PhraseColPos7>7</PhraseColPos7>
			<PhraseColVis8>0</PhraseColVis8>
			<PhraseColWidth8>100</PhraseColWidth8>
			<PhraseColPos8>8</PhraseColPos8>
			<PhraseColVis9>0</PhraseColVis9>
			<PhraseColWidth9>100</PhraseColWidth9>
			<PhraseColPos9>9</PhraseColPos9>
			<PhraseColVis10>0</PhraseColVis10>
			<PhraseColWidth10>100</PhraseColWidth10>
			<PhraseColPos10>10</PhraseColPos10>
			<PhraseColVis11>0</PhraseColVis11>
			<PhraseColWidth11>60</PhraseColWidth11>
			<PhraseColPos11>11</PhraseColPos11>
			<PhraseColVis12>0</PhraseColVis12>
			<LockWidth1>0</LockWidth1>
			<LockWidth2>0</LockWidth2>
			<LockWidth3>0</LockWidth3>
			<TreeViewMode>0</TreeViewMode>
			<ShowVariables>0</ShowVariables>
			<ListSubfolders>0</ListSubfolders>
			<HideDemoFunctions>0</HideDemoFunctions>
			<PlainFontSize>10</PlainFontSize>
			<PlainFontName>Arial</PlainFontName>
			<PlainFontStyle/>
			<HTMLFontConversionType>0</HTMLFontConversionType>
			<MakroOwnFormat>1</MakroOwnFormat>
			<AccessRightsByOwnerOnly>0</AccessRightsByOwnerOnly>
			<HideUsers>0</HideUsers>
			<Ribbon>3C7369713A637573746F6D554920786D6C6E733A7369713D22687474703A2F2F736368656D61732E6D6963726F736F66742E636F6D2F77696E646F77732F323030392F726962626F6E2F716174223E3C7369713A726962626F6E206D696E696D697A65643D2266616C7365223E3C7369713A71617420706F736974696F6E3D2230223E3C7369713A736861726564436F6E74726F6C733E3C7369713A636F6E74726F6C206964513D227369713A3233222076697369626C653D22747275652220617267756D656E743D223022202F3E3C7369713A636F6E74726F6C206964513D227369713A3730222076697369626C653D22747275652220617267756D656E743D223022202F3E3C7369713A636F6E74726F6C206964513D227369713A3731222076697369626C653D22747275652220617267756D656E743D223022202F3E3C2F7369713A736861726564436F6E74726F6C733E3C2F7369713A7161743E3C2F7369713A726962626F6E3E3C2F7369713A637573746F6D55493E</Ribbon>
		</UI>
		<Search>
			<MinCharSearch>1</MinCharSearch>
			<SearchThresold>100</SearchThresold>
			<SearchWhere>1000</SearchWhere>
			<SearchCase>0</SearchCase>
			<SearchWhole>0</SearchWhole>
			<SearchExact>0</SearchExact>
		</Search>
		<Statistics>
			<StatsDate>45171,2733665046</StatsDate>
			<TodayPhrases>0</TodayPhrases>
			<TotalPhrases9>0</TotalPhrases9>
			<TodayChars>0</TodayChars>
			<TotalChars>0</TotalChars>
			<UserSpeed>120</UserSpeed>
			<UserLoan>10</UserLoan>
			<Measured>0</Measured>
		</Statistics>
		<Hidden>
			<MSAutoCorrectDisabled>0</MSAutoCorrectDisabled>
			<oldVersion>0</oldVersion>
			<SaveDictionary>1</SaveDictionary>
		</Hidden>
		<Network>
			<ConnectTimeout>1000</ConnectTimeout>
			<ReadTimeout>30000</ReadTimeout>
			<WaitTimeout>1500</WaitTimeout>
			<RetryRegister>5000</RetryRegister>
			<RetryConnect>2000</RetryConnect>
			<RetryPass>500</RetryPass>
			<RetryPassCancel>5000</RetryPassCancel>
			<SuspendTimeout>1500</SuspendTimeout>
			<UdpTimeout>1500</UdpTimeout>
			<WaitThreadsTerminate>1</WaitThreadsTerminate>
			<SQLPingInterval>10000</SQLPingInterval>
			<SQLLoginTimeout>10</SQLLoginTimeout>
		</Network>
		<Rdata>
			<HWID>F7C23A9F</HWID>
			<Rdata>43324D435258344D6441733041513D3D</Rdata>
			<Commercial>0</Commercial>
			<IsPro>1</IsPro>
		</Rdata>
		<Server>
			<UserData/>
		</Server>
	</pexconfig>
</xml>
